{{#if correcto}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <div class="text-center"><strong>{{correcto}}</strong></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if fallo}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <div class="text-center"><strong>{{fallo}}</strong></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

