<nav class="navbar navbar-expand-lg navbar-dark" id="navtitulos">
  
  <div class="container-fluid" >
    <!--<a class="navbar-brand" href="/">Home</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fas fa-home" id="icon"></i>Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/reg"><i class="fas fa-user-plus" id="icon"></i>Regístrate</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link"  href="/login"><i class="fas fa-user" id="icon"></i>Iniciar sesión </a>
        </li>
      </ul>
    </div>
  </div>
</nav>