<div class="container">
    <div class="jumbotron mt-4">
    <h1 class="display-3">Proyecto :) </h1>
    <div class="lead">Pagina de inicio</div>
    <hr class="my-4">
    <p> 
        Te espero cuando la noche se haga día,
        suspiros de esperanzas ya perdidas.
        No creo que vengas, lo sé,
        sé que no vendrás.
        Sé que la distancia te hiere,
        sé que las noches son más frías,
        Sé que ya no estás.
        Creo saber todo de ti.
        Sé que el día de pronto se te hace noche:
        sé que sueñas con mi amor, pero no lo dices,
        sé que soy un idiota al esperarte,
        Pues sé que no vendrás.
    </p>
</div>

</div>