<div class="container">
    
    <div class="row">
        <div class="col-2">

        </div>
        <div class="m-3 col-8">
            <h2 id="tituloRegistro">Inicio de Sesi칩n</h2>
            <center><img src="/imagenes/user.png" width="100" height="100"></center>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="m-3 col-8">

    <form action="/loginStep" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><i class="fas fa-envelope" id="regicon"></i>Correo electr칩nico:</label>
            <input type="email" placeholder="ejemplo@hotmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="correo" required>
            <div id="emailHelp" class="form-text">No se compartir치 tu correo con otras personas.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i class="fas fa-lock" id="regicon"></i>Contrase침a</label>
            <input type="password" placeholder="*********"class="form-control" id="exampleInputPassword1" name="pass" required>
        </div>
        <center>
        <button type="submit" class="btn btn-primary" id="botonInicio"><i class="fas fa-thumbs-up" id="icon"></i>Enviar</button>
        </center>
    </form>

    </div>
    </div>
</div>