{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{this.text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <h2 id="tituloRegistro"><i class="fas fa-question" id="icon"></i>Preguntas para tu Inicio de Sesión</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <br><br>
        <div class="m-3 col-8">
            <form method="POST" action="/reg/{{id}}" enctype="application/x-www-form-urlencoded">
            
                <div class="mb-3">
                    <i class="fas fa-cloud-sun" id="regicon"></i>¿Cuál clima es tu favorito?
                    <select class="form-select" name="clima" required>
                        <option value="">----- Seleccionar -----</option>
                        <option value="Verano">Verano</option>
                        <option value="invierno">Invierno</option>
                        <option value="otonio">Otoño</option>
                        <option value="primavera">Primavera</option>
                    </select>
                </div>

                <div class="mb-3">
                    <i class="fas fa-globe-americas" id="regicon"></i>¿Qué país te gustaría conocer? 
                    <input type="text" placeholder="Escribe tu país que te gustaría conocer" class="form-control"
                    id="pais" name="pais" required value="">
                </div>

                <div class="mb-3">
                   <i class="fas fa-palette" id="regicon"></i>¿Cuál es tu color favorito?
                   <input type="text" placeholder="Escribe tu color favorito" class="form-control"
                    id="color" name="color" required value="">
                </div>

                <div class="mb-3">
                    <i class="fas fa-film" id="regicon"></i>¿Cuál es tu serie o película favorita?
                   <input type="text" placeholder="Escribe tu serie o pelicula favorita" class="form-control"
                    id="pelicula-serie" name="peli_serie" required value="">
                </div>

                <div class="mb-3">
                   <i class="fas fa-university" id="regicon"></i>¿A qué colegio fuiste?
                   <input type="text" placeholder="Escribe tu colegio" class="form-control"
                    id="cole" name="cole" required value="">
                </div>
                <a href="https://youtu.be/higsly3tC6Y">
                    <button class=" btn btn-warning" id="Info"><i class="fas fa-info-circle" id="icon"></i> ¿Como funciona el sistema de Autenticación?</button>
                    </a>
                    <hr>
                <center>
                    <button type="submit" class="btn btn-primary" id="boton"><i class="fas fa-thumbs-up" id="icon"></i>ACEPTAR</button>
                    <br><br> <br><br>
                </center>
            </form>
        </div>
    </div>
</div>