footer {
    background-color: #3D3C3C;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
}

#navtitulos {
    background-color: #3D3C3C;
    color: white;
}

#tituloRegistro {
    background-color: #3E6FBF;
    text-align: center;
    align-content: center;
    padding: 5px;
    color: white;
    font-weight: 100;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

#titulo {
    padding-top: 60px;
    text-align: center;
}

#icon {
    padding-right: 5px;
    padding-left: 10px;
}

#Info {
    padding-right: 5px;
    padding-left: 10px;
    background-color: #F0E86C;
    color: black;
}

#regicon {
    padding-right: 5px;
    color: #141D5E;
}

#boton {
    background-color: #3E6FBF;
    text-align: center;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#botonInicio {
    background-color: #141D5E;
    text-align: center;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}